nb-card-header button {
    float: right;
  }

  button {
    margin: 1rem;
  }

  [nbInput] {
    margin-bottom: 1rem;
  }

  .form-control:focus {
    box-shadow:none;
  }

  .submitButton {
    float: right;
  }

  nb-card-header button {
    float: right;
  }