<nb-card [style.width.px]="1000" [style.height.px]="525">
  <nb-card-header>
    Add Customer
    <button nbButton hero status="danger" (click)="dismiss()">Close</button>
  </nb-card-header>

  <nb-card-body>

    <form name="form" (ngSubmit)="f.form.valid && create()" #f="ngForm" novalidate>

      <div class="row">

        <div class="col-sm-6">

          <div class="form-group">
            <label>Name</label>
            <input nbInput type="text" class="form-control" placeholder="Name" name="name" [(ngModel)]="customer.name"
              #name="ngModel" [ngClass]="{ 'is-invalid': f.submitted && name.invalid }" required />
            <div *ngIf="f.submitted && name.invalid" class="invalid-feedback">
              <div *ngIf="name?.errors.required">Name is required</div>
            </div>
          </div>

          <div class="form-group">
            <label>Phone number</label>
            <input nbInput type="number" class="form-control" placeholder="Phone number" name="phoneNumber"
              [(ngModel)]="customer.phoneNumber" #phoneNumber="ngModel"
              [ngClass]="{ 'is-invalid': f.submitted && phoneNumber.invalid }" required />
            <div *ngIf="f.submitted && phoneNumber.invalid" class="invalid-feedback">
              <div *ngIf="phoneNumber?.errors.required">Phone number is required</div>
            </div>
          </div>

        </div>

        <div class="col-sm-6">

          <div class="form-group">
            <label>Address</label>
            <input nbInput type="text" class="form-control" placeholder="Address" name="adress"
              [(ngModel)]="customer.adress" #adress="ngModel"
              [ngClass]="{ 'is-invalid': f.submitted && adress.invalid }" required />
            <div *ngIf="f.submitted && adress.invalid" class="invalid-feedback">
              <div *ngIf="adress?.errors.required">Address is required</div>
            </div>
          </div>

          <div class="form-group">
            <label>Email</label>
            <input nbInput type="text" class="form-control" placeholder="E-mail" name="mail" [(ngModel)]="customer.mail"
              #mail="ngModel" [ngClass]="{ 'is-invalid': f.submitted && mail.invalid }" required email/>
            <div *ngIf="f.submitted && mail.invalid" class="invalid-feedback">
              <div *ngIf="mail?.errors.required">Email is required</div>
              <div *ngIf="mail?.errors.email">Email must be a valid email address</div>
            </div>
          </div>

          <div class="form-group">
            <label>Description</label>
            <textarea nbInput class="form-control" placeholder="Description" name="description"
              [(ngModel)]="customer.description" #description="ngModel"
              [ngClass]="{ 'is-invalid': f.submitted && description.invalid }" required>
            </textarea>
            <div *ngIf="f.submitted && description.invalid" class="invalid-feedback">
              <div *ngIf="description?.errors.required">Description is required</div>
            </div>

          </div>

        </div>

      </div>

      <button nbButton class="clearButton" type="reset" outline status="info">Clear</button>

      <button nbButton class="submitButton" type="submit" hero status="success">Submit</button>

    </form>

  </nb-card-body>
</nb-card>