<nb-card [style.width.px]="400" [style.height.px]="250">

  <nb-card-header>
    Reset Password
  </nb-card-header>

  <nb-card-body>
    <form>
      <div class="form-group">
        <label>New Password</label>
        <input nbInput class="form-control" id="newPassword" name="newPassword" placeholder="New Password"
          [(ngModel)]="newPassword">
      </div>
      <button nbButton class="submitButton" type="submit" hero status="success" (click)="update()">Submit</button>
    </form>
  </nb-card-body>

</nb-card>