<nb-card>
  <nb-card-header>
    Tasks List
    <button *ngIf="accessChecker.isGranted('remove', 'teams') | async" nbButton outline status="success"
      (click)="openValidateTasks()">Validate Tasks</button>

    <button *ngIf="accessChecker.isGranted('view', 'tasks') | async" nbButton outline status="success"
      (click)="open()">New Task</button>
  </nb-card-header>

  <nb-card-body>

    <div class="column" class="col-sm-3">
      <div *ngIf="accessChecker.isGranted('remove', 'teams') | async">
        <label><b>Employee</b></label>
        <select class="form-control" placeholder="Select User" size="small" outline status="success" [(ngModel)]="idE"
          name="idE" (click)="reload()">
          <!--(click)="$event.preventDefault()-->
          <option value="user.id" selected disabled>Select your option</option>
          <option *ngFor=" let employee of employees " value="{{employee.id}}">
            {{employee.firstName}} {{employee.lastName}}
          </option>
        </select>
        <br>
        <br>
      </div>
    </div>

    <ng2-smart-table *ngIf="accessChecker.isGranted('view', 'tasks') | async" [settings]="settings" [source]="source1"
      (editConfirm)="onEditConfirm($event)" (deleteConfirm)="onDeleteConfirm($event)">
    </ng2-smart-table>

  </nb-card-body>
</nb-card>